<section class="card">
<a href="/comment/{{id}}">
    <header>
        Posted by {{user_id.user.username}} on {{format_date comment_date}}
    </header>
</a>

    <div class="card-body">
        {{comment_desc}}
    </div>

</section>