/* Skeleton code from module 14 lesson 20 /public/css/style.cc */

:root {
  --primary: #ADE8F4;
  --secondary: white;
  --tertiary: #00B4D8;
  --quatrinary: #0077B6;
  --light: #CAF0F8;
  --dark: #03045E;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  padding: 40px;
  text-align: center;
  background: var(--quatrinary);
  color: var(--secondary);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

aside {
  flex: 0;
  background-color: var(--light);
  padding: 80px;
  text-align: left;
  color: var(--dark);
}

nav {
  display: flex;
  background-color: var(--quatrinary);
  color: var(--secondary)
}

nav a {
  color: var(--secondary);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.post {
  flex: 12;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}


/* CARDS */
.card {
  margin: 20px;
  flex: 0 0 100%;
  border: 3px solid var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.login-card {
  margin: 0 15px 20px 0;
  flex: 1;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: var(--quatrinary);
  color: var(--secondary);
  
}

.card_header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--quatrinary);
  padding: 0.625rem;
  border-bottom: 3px solid var(--quatrinary);
  
}

.post_name_date{
    float: right;
    color: var(--secondary);
    
}


.post_comment_header{
  background-color: var(--primary);
  border: 3px solid var(--dark);
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex:1;
}

.post_name{
 float: left;   
}


.post_date{
 float: right;   
}

.card_body {
  font-size: 1.4rem;
  text-align:left;
  font-weight: bold;
}

.add_comment_button{
  display: flex;
  justify-content: center;
}


/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}
